<%=render "users/nav"%>

<div class="row">
    <div class="col-md-8 col-md-offset-2 question_show">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong><%= @question.title%></strong></h5>
                <%=link_to "Answer", new_answer_path, class:"btn btn-primary question_show_btn"%>
                <hr>
                <div class="question-show-answer-section">Author:
                <div><%= @question.content%></div>
                </div>
                <hr/>
                 
                <div class="row">
                <div class="col-md-10 col-md-offset-1">
                 <% @question.answers.each do |answer|%>
                <div class="question-show-answer-section"><%= answer.user.full_name%> answered:<br/>
                    <div class= "quesiton-show-answer-content"><%= answer.content%><br/>
                            <%if answer.user == @current_user %>
                                <%=link_to "edit", edit_answer_path(answer), class: "question_link_show_edit_and_delete"%> | 
                                <%=link_to "delete", delete_answer_path(answer), :method => :delete , class: "question_link_show_edit_and_delete"%>
                            <%end%>
                        </div>
                    <hr/>
                </div>
                <%end%>
                </div>
                </div>
        </div>
    </div>
</div>


