<%=render "users/nav"%>

<div class="row">
    <div class="question_show col-md-8 col-md-offset-2">
        <table class="table table-hover">
            <caption style="background-color: red;">
           <div> <strong><%= @question.title%></strong><br/><%= @question.content%><br/>by --<%=@question.user.full_name%></div>
            </caption>
            <tbody>
                <tr>
                    <% @question.answers.each do |answer|%>
                    <td><%= answer.user.full_name%> posted an answer:<br/><br/> <%= answer.content%></td>
                    <%if answer.user == @current_user %>
                        <td><%=link_to "edit", edit_answer_path(answer)%></td>
                        <td><%=link_to "delete", delete_answer_path(answer), :method => :delete %></td>
                    <%end%>
                </tr>
                <%end%>
            </tbody>
        </table>
        <%=link_to "Post a Answer", new_answer_path%>
    </div>
</div>

