<head>
  <title>Codera</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<%= render "users/home"%>

<body>
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= form_for(:session, url: login_path) do |f|%>
            <h1 class= "welcome">Welcome to Codera</h1>
                <br>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <%=f.email_field :email, placeholder: "Enter email", class: "form-control input-lg"%>
                    </div>
                        <br>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock "></i></span>
                            <%=f.password_field :password, placeholder: "Password",class:"form-control input-lg"%>
                    </div>
                        <br>
                            <%=f.submit "Log in", class: "btn-block btn-primary btn-lg"%>
                <h6 class="signup_link">Not a member? <%=link_to "Sign up now!", new_user_path%></h6>
            <%end%>
        </div>
        </div>
</body>


