<% if logged_in? %>
<div> <%= render "users/nav"%> </div>
<%end%>
<div class="row" id="form">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for @user do |f|%>
      <h1 class= "welcome">Update profile</h1>
      <br>
      <%= render "users/error"%>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <%=f.text_field :first_name, placeholder: "Last Name", class: "form-control input-lg"%>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <%=f.text_field :last_name, placeholder: "Last Name", class: "form-control input-lg"%>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <%=f.email_field :email, placeholder: "Enter email", class: "form-control input-lg"%>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock "></i></span>
        <%=f.password_field :password, placeholder: "Password",class:"form-control input-lg"%>
      </div>
      <br>
      <%=f.submit "Update", class: "btn-block btn-primary btn-lg"%>
    <%end%>
  </div>
</div>