<% if logged_in? %>
<div> <%= render "users/nav"%> </div>
<%end%>
<div class="row" id="form">
  <div class="edit col-md-4 col-md-offset-4">
    <%= form_for @user do |f|%>
      <h1 class= "welcome">Update profile</h1>
      <br>
      <%= render "users/error"%>
      <div class="row">
      <div class="input-group ">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <span><%=f.text_field :first_name, placeholder: "Last Name", class: "form-control input-lg"%></span>
      </div>

      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <span><%=f.text_field :last_name, placeholder: "Last Name", class: "form-control input-lg"%></span>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <%=f.email_field :email, placeholder: "Enter email", class: "form-control input-lg"%>
      </div>

      <br>
      <%=f.submit "save", class: "btn-block btn-primary btn-lg"%>
    <%end%>
  </div>
</div>