<div class="form">
        <%= form_for @user do |f|%>
        <h1 class= "welcome">Welcome to Codera</h1>
        <br>
                <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <%=f.text_field :first_name, placeholder: "Last Name", class: "form-control input-lg"%>
                </div>
        <br>
                <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <%=f.text_field :last_name, placeholder: "Last Name", class: "form-control input-lg"%>
                </div>
        <br>
                <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <%=f.email_field :email, placeholder: "Enter email", class: "form-control input-lg"%>
                </div>
        <br>
                <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock "></i></span>
                        <%=f.password_field :password, placeholder: "Password",class:"form-control input-lg"%>
                </div>
        <br>
                <%=f.submit "Sign up", class: "btn-block btn-primary btn-lg"%>
        <br>
        <h6 class="signup_link">Already a member? <%=link_to "log in", login_path%></h6>
        <%end%>
</div>

