<% if logged_in? %>
<div> <%= render "users/nav"%> </div>
<%end%>

Logged in as <%=@user.full_name%>
<h4>My Questions</h4>
<%=link_to "Post a Question", new_question_path(@user)%><br/>

<ol>
<% @user.questions.each do |q|%>
<li>
    <%= q.title%> -- <%=q.content%> |
    <%=link_to "edit", edit_question_path(q)%><br/>
</li>
<%end%>
</ol>

