<h3>
    <%= gravatar_for @user %><br/>
    <%= @user.full_name%>
    <hr/>
</h3>

<h4><%=link_to "Log out", logout_path, method: :delete%></h4>
<h4><%=link_to "profile", edit_user_path(current_user)%></h4>

<h4>My Questions</h4>
<%=link_to "post a question", new_question_path%>
    <ul>
        <%@user.questions.each do |question|%>
            <li>Question: <%=link_to question.title, question_path(question)%><br>
                tags: <% question.category_name.each do |name|%>
                    <%=name%>
                <%end%>
            </li>
        <%end%>
    </ul>
<hr/>

<h4>My Answers</h4>

    <ul>
        <%@user.answers.each do |answer|%>
            <li>Question: <%=link_to answer.question.title, question_path(answer.question)%><br>
            My answer: <%= answer.content%> </li>
        <%end%>
    </ul>



