<% if logged_in? %>
<div> <%= render "users/nav"%> </div>
<%end%>

<div class="row user_home_page">
  <div class="user_home_section_1">
   <div class="user_full_name_show"><%= gravatar_for @user %>Hi:<%=@user.first_name%></div>
  </div>
</div>

<hr/>

<div class="row user_home_page">
  <div class="col-md-8 col-md-offset-2 user_home_section_2">
 <div class="user-home-page-font"> Posted Questions </div><hr/>
            <% @questions.each_with_index do |question,index| %>
            <div class="user_home_page-question-font"><%=index+1%>.
            <%=link_to question.title, question_path(@current_user,question), class: "user_home_page-question-font"%>
            <div>
            <%=pluralize(question.answers.count,"answer")%>
            <%=link_to "edit", edit_question_path(question) %>
            <%=link_to "delete", delete_question_path(@current_user,question), :method => :delete %>
            </div>
            </div><hr/>
            <%end%>
  </div>
</div>

<div class="row user_home_page">
  <div class="col-md-8 col-md-offset-2 user_home_section_3">
 <div class="user-home-page-font"> Answered Questions</div><hr/>
        <%@user.question_arr.each_with_index do |question,index|%>
        <span class= "user_home_page-question-font"><%=index+1%>. </span>
        <%=link_to question.title, question_path(@current_user,question), class: "user_home_page-question-font"%>
        <div class="user_home_page-question-font"><%=pluralize(question.answers.count,"answer")%></div>
        <hr/>
        <%end%>
  </div>
</div>

