<% if logged_in? %>
<div> <%= render "users/nav"%> </div>
<%end%>

Currnetly logged in as <%=@user.full_name%>
<h4>My Questions</h4>
<%=link_to "Post a Question", new_question_path(@user)%><br/>


<ol>
<% @questions.each do |question|%>
<li>
    <%=link_to question.title, question_path(@current_user,question)%>|
    Last edit: <%= question.last_edit%>|
    <%=link_to "edit", edit_question_path(question)%>|
    <%=link_to "delete", delete_question_path(@current_user,question), :method => :delete %>
    <br/>
</li>
<%end%>
</ol>

<h4>My Answered Questions</h4>
<ol>
    <% @user.question_arr.each do |question|%>
        <li>
            <%=link_to question.title, question_path(@current_user, question)%>
        </li>
    <%end%>
</ol>

