<%=render "users/nav"%>
<div class="row" id="form">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for @answer do |f|%>
      <h1 class= "welcome">Answer</h1>
      <br>
      <%= render "users/error"%>
        <%=f.hidden_field :question_id%>
      <br>
        <div class="form-group">
            <%=f.text_area :content, rows: 7, placeholder: "Start here...",class:"form-control input-lg"%>
        </div>
      <br>
      <%=f.submit "Answer", class: "btn-block btn-primary btn-lg"%>
    <%end%>
  </div>
</div>