<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Codera</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if logged_in? %>
    <div> <%= render "users/nav"%> </div>
    <%end%>
    </nav>
  </head>
  <body>
    <!--######################### error message #########################################-->
    <div>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-danger"">
          <%if message.class == Array%>
            <ul>
              <% message.each do |msg|%>
                <li><%=msg%></li>
              <%end%>
            </ul>
            <ul>
            <%else%>
              <li>*<%= message %></li>
            <%end%>
          </ul>
        </div>
      <%end%>
      <!--######################### error message #########################################-->
      <%= yield %>
    </div>
  </body>
</html>
