<!DOCTYPE html>
<html>
  <head>
    <title>Codera</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <nav>
  <%=link_to "login", login_path%>
  <%=link_to "signup", new_user_path%>
  <%=button_to "logout", logout_path, method: :delete%>
  </nav>
    <%= yield %>
  </body>
</html>
