<!DOCTYPE html>
<html>
  <head>
    <title>Codera</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<!--######################### error message #########################################-->
    <div>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-danger"">
      <%if message.class == Array%>
        <ul>
          <% message.each do |msg|%>
              <li> <%=msg%></li>
          <%end%>
        </ul>
        <ul>
      <%else%>
          <li>*<%= message %></li>
      <%end%>
      </ul>
      </div>
    <%end%>
    </ol>
<!--######################### error message #########################################-->
    <%= yield %>
    </div>
  </body>
</html>
